<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
<%= for url <- @urls do %>
  <url>
    <loc><%= e(url.loc) %></loc>
<%= if url[:lastmod] do %>
    <lastmod><%= e(url.lastmod) %></lastmod>
<% end %>
<%= for alt <- url[:alternates] || [] do %>
    <xhtml:link rel="alternate" hreflang="<%= e(alt.language) %>" href="<%= e(alt.url) %>"/>
<% end %>
<%= if url[:x_default] do %>
    <xhtml:link rel="alternate" hreflang="x-default" href="<%= e(url.x_default) %>"/>
<% end %>
    <priority><%= e(url.priority) %></priority>
  </url>
<% end %>
</urlset>
