<section class="card">
  <h1>Receive this daily newsletter?</h1>
  <p>Confirm to receive a daily newsletter written by RNews1. You can unsubscribe at any time.</p>
  <form method="post" action={"/confirm/" <> @confirmation_token}>
    <button>Confirm my subscription</button>
  </form>
</section>
